.cart-item {
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
}

.cart-item h2 {
    font-size: 20px;
}

.cart-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

.cart-item-image img {
    width: 100%;
}

.cart-item-price {
    padding: 10px;
}